{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}

{% set homepageImageFirstSlide = config("CeresFood.homepage.homepageImageFirstSlide") %}
{% set homepageProductLinkFirstSlide = config("CeresFood.homepage.homepageProductLinkFirstSlide") %}
{% set homepageProductNameFirstSlide = config("CeresFood.homepage.homepageProductNameFirstSlide") %}

{% set homepageImageSecondSlide = config("CeresFood.homepage.homepageImageSecondSlide") %}
{% set homepageProductLinkSecondSlide = config("CeresFood.homepage.homepageProductLinkSecondSlide") %}
{% set homepageProductNameSecondSlide = config("CeresFood.homepage.homepageProductNameSecondSlide") %}

{% set homepageImageThirdSlide = config("CeresFood.homepage.homepageImageThirdSlide") %}
{% set homepageProductLinkThirdSlide = config("CeresFood.homepage.homepageProductLinkThirdSlide") %}
{% set homepageProductNameThirdSlide = config("CeresFood.homepage.homepageProductNameThirdSlide") %}

{% set category1 = services.category.get(config("CeresFood.homepage.homepageCategory1"), lang) %}
{% set categoryList1 = services.itemList.getItemList("category", category1.id, "variation.position_desc", 12).documents %}

{{ component( "Ceres::ItemList.Components.ItemList") }}
{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::Basket.Components.AddToBasket" ) }}

<div class="home container-max px-0">

	<div class="cmp cmp-hero">
		<div class="hero-main mb-0">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<a class="hero-category" href="{{ homepageProductLinkFirstSlide }}">
							<img src="{{ homepageImageFirstSlide }}" alt="{{ homepageProductNameFirstSlide }}" class="img-fluid">
						</a>
					</div>
					<div class="carousel-item">
						<a class="hero-category" href="{{ homepageProductLinkSecondSlide }}">
							<img src="{{ homepageImageSecondSlide }}" alt="{{ homepageProductNameSecondSlide }}" class="img-fluid">
						</a>
					</div>
					<div class="carousel-item">
						<a class="hero-category" href="{{ homepageProductLinkThirdSlide }}">
							<img src="{{ homepageImageThirdSlide }}" alt="{{ homepageProductNameThirdSlide }}" class="img-fluid">
						</a>
					</div>
				</div>

				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
					<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
				</ol>

				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="icon-prev" aria-hidden="true"></span>
					<span class="sr-only">Zurück</span>
				</a>

				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="icon-next" aria-hidden="true"></span>
					<span class="sr-only">Nächste</span>
				</a>

			</div>
		</div>
	</div>
</div>


<div class="container-max page-content">
	<div class="row">
		<div class="section-header mb-3 px-4">
			<h4>{{ category1.details[0].name }}</h4>
		</div>
		<div class="col-xs-12 col-lg-12">
                     {% if categoryList1 | length > 4 %}
                                   <div class="list-item-carousel owl-carousel owl-theme list-carousel-first">
                                          {% for item in categoryList1 %}
                                          <li class="col-12">
                                                <category-item
                                                    :item-data="{{ item.data | json_encode }}"
                                                    :decimal-count="{{ decimalCount }}">
                                                    <template slot="BeforePrices">{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                                                    <template slot="AfterPrices">{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>
                                                </category-item>
                                            </li>
                                          {% endfor %}
                                   </div>
                            {% else %}
                            <div class="row no-carousel">
                                   {% for item in categoryList1 %}
                                   <li class="col-12 col-sm-4">
                                         <category-item
                                             :item-data="{{ item.data | json_encode }}"
                                             :decimal-count="{{ decimalCount }}">
                                             <template slot="BeforePrices">{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                                             <template slot="AfterPrices">{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>
                                         </category-item>
                                     </li>
                                     {% endfor %}
                            </div>
                     {% endif %}
		</div>
	</div>
</div>
