{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}


{% set homepageFirstSlideTitleDE = config("CeresGlamour.homepage.homepageFirstSlideTitleDE") %}
{% set homepageFirstSlideImgUrl = config("CeresGlamour.homepage.homepageFirstSlideImgUrl") %}
{% set homepageFirstSlideLink = config("CeresGlamour.homepage.homepageFirstSlideLink") %}

{% set homepageSecondSlideTitleDE = config("CeresGlamour.homepage.homepageSecondSlideTitleDE") %}
{% set homepageSecondSlideImgUrl = config("CeresGlamour.homepage.homepageSecondSlideImgUrl") %}
{% set homepageSecondSlideLink = config("CeresGlamour.homepage.homepageSecondSlideLink") %}

{% set homepageExtraHero1TitleDE = config("CeresGlamour.homepage.homepageExtraHero1TitleDE") %}
{% set homepageExtraHero1ImgUrl = config("CeresGlamour.homepage.homepageExtraHero1ImgUrl") %}
{% set homepageExtraHero1Link = config("CeresGlamour.homepage.homepageExtraHero1Link") %}

{% set homepageExtraHero2TitleDE = config("CeresGlamour.homepage.homepageExtraHero2TitleDE") %}
{% set homepageExtraHero2ImgUrl = config("CeresGlamour.homepage.homepageExtraHero2ImgUrl") %}
{% set homepageExtraHero2Link = config("CeresGlamour.homepage.homepageExtraHero2Link") %}

{% set homepageSaleTitleDE = config("CeresGlamour.homepage.homepageSaleTitleDE") %}
{% set homepageSaleImgUrl = config("CeresGlamour.homepage.homepageSaleImgUrl") %}
{% set homepageSaleLink = config("CeresGlamour.homepage.homepageSaleLink") %}

{% set homepageSale2TitleDE = config("CeresGlamour.homepage.homepageSale2TitleDE") %}
{% set homepageSale2ImgUrl = config("CeresGlamour.homepage.homepageSale2ImgUrl") %}
{% set homepageSale2Link = config("CeresGlamour.homepage.homepageSale2Link") %}

{% set homepageFeatCat1TitleDE = config("CeresGlamour.homepage.homepageFeatCat1TitleDE") %}
{% set homepageFeatCat1ImgUrl = config("CeresGlamour.homepage.homepageFeatCat1ImgUrl") %}
{% set homepageFeatCat1Link = config("CeresGlamour.homepage.homepageFeatCat1Link") %}

{% set homepageFeatCat2TitleDE = config("CeresGlamour.homepage.homepageFeatCat2TitleDE") %}
{% set homepageFeatCat2ImgUrl = config("CeresGlamour.homepage.homepageFeatCat2ImgUrl") %}
{% set homepageFeatCat2Link = config("CeresGlamour.homepage.homepageFeatCat2Link") %}

{% set category1 = services.category.get(config("CeresGlamour.homepage.homepageCategory1"), lang) %}
{% set categoryList1 = services.itemList.getItemList("category", category1.id, "variation.position_desc", 12).documents %}

{% set category2 = services.category.get(config("CeresGlamour.homepage.homepageCategory1"), lang) %}
{% set categoryList2 = services.itemList.getItemList("category", category2.id, "variation.position_desc", 12).documents %}


{{ component( "Ceres::ItemList.Components.ItemList") }}
{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::Basket.Components.AddToBasket" ) }}

<div class="home container-max page-content">

       <div class="cmp cmp-hero">
              <div class="hero-main">
                     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                   <div class="carousel-item active">
                                          <a class="hero-category" href="{{ homepageFirstSlideLink }}">
                                                 <img src="{{ homepageFirstSlideImgUrl }}" alt="{{ homepageFirstSlideTitleDE }}" class="img-fluid">
                                                 <div class="hero-category-inner">
                                                        <h4 class="hero-category-headline">
                                                               {{ homepageFirstSlideTitleDE }}
                                                        </h4>
                                                        <div class="hero-category-cta">
                                                               Ansehen <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                        </div>
                                                 </div>
                                          </a>
                                   </div>
                                   <div class="carousel-item">
                                          <a class="hero-category" href="{{ homepageSecondSlideLink }}">
                                                 <img src="{{ homepageSecondSlideImgUrl }}" alt="{{ homepageSecondSlideTitleDE }}" class="img-fluid">
                                                 <div class="hero-category-inner">
                                                        <h4 class="hero-category-headline">
                                                               {{ homepageSecondSlideTitleDE }}
                                                        </h4>
                                                        <div class="hero-category-cta">
                                                               Ansehen <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                                        </div>
                                                 </div>
                                          </a>
                                   </div>
                            </div>

                            <ol class="carousel-indicators">
                                   <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                   <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                            </ol>
                     </div>
              </div>

              <div class="hero-xtras">
                     <a class="hero-category" href="{{ homepageExtraHero1Link }}">
                            <img src="{{ homepageExtraHero1ImgUrl }}" alt="{{ homepageExtraHero1TitleDE }}">
                            <div class="hero-category-inner">
                                   <h4 class="hero-category-headline">
                                          {{ homepageExtraHero1TitleDE }}
                                   </h4>
                            </div>
                     </a>
                     <a class="hero-category" href="{{ homepageExtraHero2Link }}">
                            <img src="{{ homepageExtraHero2ImgUrl }}" alt="{{ homepageExtraHero2TitleDE }}">
                            <div class="hero-category-inner">
                                   <h4 class="hero-category-headline">
                                          {{ homepageExtraHero2TitleDE }}
                                   </h4>

                            </div>
                     </a>
              </div>

       </div>

       <!-- SALE NEW -->
       <div class="row prop-row my-5 sale-new">

              <div class="col-xs-12 col-md-6">
                     <div class="prop-xs-6-4 prop-md-3-1">
                            <div class="prop-inner">
                                   <a class="featured-sale-new" href="{{ homepageSaleLink }}">
                                          <img src="{{ homepageSaleImgUrl }}" alt="{{ homepageSaleTitleDE }}" />
                                          <div class="featured-category-inner">
                                                 <h4 class="featured-category-headline">
                                                        {{ homepageSaleTitleDE }}
                                                 </h4>
                                          </div>
                                   </a>
                            </div>
                     </div>
              </div>

              <div class="col-xs-12 col-md-6">
                     <div class="prop-xs-6-4 prop-md-3-1">
                            <div class="prop-inner">
                                   <a class="featured-sale-new" href="{{ homepageSale2Link }}">
                                          <img src="{{ homepageSale2ImgUrl }}" alt="{{ homepageSale2TitleDE }}" />
                                          {{ homepageSale2TitleDE }}
                                          <div class="featured-category-inner">
                                                 <h4 class="featured-category-headline">
                                                        {{ homepageSale2TitleDE }}
                                                 </h4>
                                          </div>
                                   </a>
                            </div>
                     </div>
              </div>
       </div>

       <!-- END SALE NEW -->
       <div class="container-max pt-3 px-0">
              <div class="row">
                     <div class="col-xs-12 col-lg-12">
                            <div class="section-header mb-3">
                                   <h4>{{ category1.details[0].name }}</h4>
                            </div>
                            {% if categoryList1 | length > 4 %}
                                   <div class="list-item-carousel owl-carousel owl-theme list-carousel-first">
                                          {% for item in categoryList1 %}
                                          <li class="col-12">
                                                <category-item
                                                    :item-data="{{ item.data | json_encode }}"
                                                    :decimal-count="{{ decimalCount }}">
                                                    <template slot="BeforePrices">{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                                                    <template slot="AfterPrices">{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>
                                                </category-item>
                                            </li>
                                          {% endfor %}
                                   </div>
                            {% else %}
                            <div class="row no-carousel">
                                   {% for item in categoryList1 %}
                                   <li class="col-12 col-sm-4">
                                         <category-item
                                             :item-data="{{ item.data | json_encode }}"
                                             :decimal-count="{{ decimalCount }}">
                                             <template slot="BeforePrices">{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                                             <template slot="AfterPrices">{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>
                                         </category-item>
                                     </li>
                                     {% endfor %}
                            </div>
                            {% endif %}
                     </div>
              </div>
       </div>

       <!-- CATEGORIES -->

       <div class="row prop-row mb-5">
              <div class="col-xs-12 col-md-8">
                     <div class="prop-xs-2-1">
                            <div class="prop-inner">
                                   <a class="featured-category" href="{{ homepageFeatCat1Link }}">
                                          <img src="{{ homepageFeatCat1ImgUrl }}" alt="{{ homepageFeatCat1TitleDE }}">
                                          <div class="featured-category-inner">
                                                 <h4 class="featured-category-headline">
                                                        {{ homepageFeatCat1TitleDE }}
                                                 </h4>
                                          </div>
                                   </a>
                            </div>
                     </div>
              </div>

              <div class="col-xs-12 col-md-4">
                     <div class="prop-xs-2-1 prop-md-1-1">
                            <div class="prop-inner">
                                   <a class="featured-category" href="{{ homepageFeatCat2Link }}">
                                          <img src="{{ homepageFeatCat2ImgUrl }}" alt="{{ homepageFeatCat2TitleDE }}">
                                          <div class="featured-category-inner">
                                                 <h4 class="featured-category-headline">
                                                        {{ homepageFeatCat2TitleDE }}
                                                 </h4>
                                          </div>
                                   </a>
                            </div>
                     </div>
              </div>
       </div>

       <div class="container-max pt-3 px-0">
              <div class="row">
                     <div class="col-xs-12 col-lg-12">
                            <div class="section-header mb-3">
                                   <h4>{{ category2.details[0].name }}</h4>
                            </div>
                            {% if categoryList2 | length > 4 %}
                                   <div class="list-item-carousel owl-carousel owl-theme list-carousel-first">
                                          {% for item in categoryList2 %}
                                          <li class="col-12">
                                                <category-item
                                                    :item-data="{{ item.data | json_encode }}"
                                                    :decimal-count="{{ decimalCount }}">
                                                    <template slot="BeforePrices">{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                                                    <template slot="AfterPrices">{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>
                                                </category-item>
                                            </li>
                                          {% endfor %}
                                   </div>
                            {% else %}
                            <div class="row no-carousel">
                                   {% for item in categoryList2 %}
                                   <li class="col-12 col-sm-4">
                                         <category-item
                                             :item-data="{{ item.data | json_encode }}"
                                             :decimal-count="{{ decimalCount }}">
                                             <template slot="BeforePrices">{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                                             <template slot="AfterPrices">{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>
                                         </category-item>
                                     </li>
                                     {% endfor %}
                            </div>
                            {% endif %}
                     </div>
              </div>
       </div>


</div>
