{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}

{{ component( "Ceres::ItemList.Components.ItemList") }}
{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
{{ component( "Ceres::Basket.Components.AddToBasket" ) }}


{% set homepageImageFirstSlide = config("CeresFood.homepage.homepageImageFirstSlide") %}
{% set homepageProductLinkFirstSlide = config("CeresFood.homepage.homepageProductLinkFirstSlide") %}
{% set homepageProductNameFirstSlide = config("CeresFood.homepage.homepageProductNameFirstSlide") %}

{% set homepageImageSecondSlide = config("CeresFood.homepage.homepageImageSecondSlide") %}
{% set homepageProductLinkSecondSlide = config("CeresFood.homepage.homepageProductLinkSecondSlide") %}
{% set homepageProductNameSecondSlide = config("CeresFood.homepage.homepageProductNameSecondSlide") %}

{% set homepageImageThirdSlide = config("CeresFood.homepage.homepageImageThirdSlide") %}
{% set homepageProductLinkThirdSlide = config("CeresFood.homepage.homepageProductLinkThirdSlide") %}
{% set homepageProductNameThirdSlide = config("CeresFood.homepage.homepageProductNameThirdSlide") %}

{% set category1 = services.category.get(config("CeresFood.homepage.homepageCategory1"), lang) %}
{% set categoryList1 = services.itemList.getItemList("category", category1.id, "variation.position_desc", 12).documents %}

<div class="home container-max">


       <div class="row page-content">
              <div class="section-header mb-3">
                     <h4>{{ category1.details[0].name }}</h4>
              </div>
              <div class="col-12 col-lg-12">
                     {% if categoryList1 | length > 4 %}
                            <div class="list-item-carousel owl-carousel owl-theme list-carousel-first">
                                   {% for item in categoryList1 %}
                                   <li class="col-12 px-0">
                                         <category-item
                                             :item-data="{{ item.data | json_encode }}"
                                             :decimal-count="{{ decimalCount }}">
                                             <template slot="BeforePrices">{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                                             <template slot="AfterPrices">{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>
                                         </category-item>
                                     </li>
                                   {% endfor %}
                            </div>
                     {% else %}
                     <div class="row no-carousel">
                            {% for item in categoryList1 %}
                            <li class="col-12 col-sm-4 px-2">
                                  <category-item
                                      :item-data="{{ item.data | json_encode }}"
                                      :decimal-count="{{ decimalCount }}">
                                      <template slot="BeforePrices">{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                                      <template slot="AfterPrices">{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>
                                  </category-item>
                              </li>
                              {% endfor %}
                     </div>
                     {% endif %}
              </div>
       </div>
</div>
