{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}

{% set ownLogo = config("nvoodTheme.header.ownLogo") %}

{% set companyName = trans("Ceres::Template.headerCompanyName") %}

{% block PartialHead %}
	<meta name="description" content="{{ trans('Ceres::Template.homepageMetaDescription') }}">
	<meta name="robots" content="{{ config(" ceres.meta.robots_home") }}"="Ceres.meta.robots_home") }}"">

	<meta property="og:title" content="{{ companyName }}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:url" content="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}"/>

	<meta property="og:image" content="{{ ownLogo }}"/>

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"url": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}",
			"potentialAction": {
				"@type": "SearchAction",
				"target": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}/search?query={search_term}",
				"query-input": "required name=search_term"
			}
		}
	</script>

	<title>{{ companyName }}</title>
{% endblock %}

{% block PageBody %}

	{% if ceresConfig.homepage.showShopBuilderContent or request.get('isContentBuilder') == 1 %}

		<div class="home container-max">
			<div class="row">
				<div class="col">
					{% for content in container("Ceres::Homepage")if content.plugin == "Plenty" %}
						{{ content.result|raw }}
					{% endfor %}
				</div>
			</div>
		</div>

	{% else %}
		{% block ThemeHomepage %}

                     {% set category1 = services.category.get(config("CeresColorful.homepage.homepageCategory1"), lang) %}
                     {% set categoryList1 = services.itemList.getItemList("category", category1.id, "variation.position_desc", 12).documents %}

                     {{ component( "Ceres::ItemList.Components.ItemList") }}
              	{{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
              	{{ component( "Ceres::Basket.Components.AddToBasket" ) }}

                     {% set homepageHeadline  = config("CeresColorful.homepage.homepageHeadline") %}
                     {% set homepageSubline  = config("CeresColorful.homepage.homepageSubline") %}

			{% set homepageImageFirstSlide  = config("CeresColorful.homepage.homepageImageFirstSlide") %}
		        {% set homepageProductLinkFirstSlide  = config("CeresColorful.homepage.homepageProductLinkFirstSlide") %}
		        {% set homepageProductNameFirstSlide  = config("CeresColorful.homepage.homepageProductNameFirstSlide") %}

		        {% set homepageImageSecondSlide  = config("CeresColorful.homepage.homepageImageSecondSlide") %}
		        {% set homepageProductLinkSecondSlide  = config("CeresColorful.homepage.homepageProductLinkSecondSlide") %}
		        {% set homepageProductNameSecondSlide  = config("CeresColorful.homepage.homepageProductNameSecondSlide") %}

		        {% set homepageImageThirdSlide  = config("CeresColorful.homepage.homepageImageThirdSlide") %}
		        {% set homepageProductLinkThirdSlide  = config("CeresColorful.homepage.homepageProductLinkThirdSlide") %}
		        {% set homepageProductNameThirdSlide = config("CeresColorful.homepage.homepageProductNameThirdSlide") %}

			<div class="home container-max">
				<div class="row">
			                <div class="cmp cmp-hero">
			                    <div class="hero-main">
			                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			                            <div class="carousel-inner" role="listbox">
			                                <div class="carousel-item active">
			                                    <a class="hero-category" href="{{ homepageProductLinkFirstSlide }}">
			                                        <img src="{{ homepageImageFirstSlide }}" alt="{{ homepageProductNameFirstSlide }}" class="img-fluid">
			                                    </a>
			                                </div>
			                                <div class="carousel-item">
			                                    <a class="hero-category" href="{{ homepageProductLinkSecondSlide }}">
			                                        <img src="{{ homepageImageSecondSlide }}" alt="{{ homepageProductNameSecondSlide }}" class="img-fluid">
			                                    </a>
			                                </div>
			                                {% if homepageImageThirdSlide != '' %}
			                                    <div class="carousel-item">
			                                        <a class="hero-category" href="{{ homepageProductLinkThirdSlide }}">
			                                            <img src="{{ homepageImageThirdSlide }}" alt="{{ homepageProductNameThirdSlide }}" class="img-fluid">
			                                        </a>
			                                    </div>
			                                {% endif %}
			                            </div>

			                            <ol class="carousel-indicators">
			                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
			                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
			                            </ol>

			                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			                                <span class="icon-prev" aria-hidden="true"></span>
			                                <span class="sr-only">Zurück</span>
			                            </a>

			                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			                                <span class="icon-next" aria-hidden="true"></span>
			                                <span class="sr-only">Nächste</span>
			                            </a>

			                        </div>
			                    </div>
			                </div>
			            </div>


       			<div class="row page-content">
       				<div class="section-header m-b-1">
       					<h4>{{ category1.details[0].name }}</h4>
       				</div>
       				<div class="col-xs-12 col-lg-12">
       					{% if categoryList1 | length > 4 %}
       						<div class="list-item-carousel owl-carousel owl-theme list-carousel-first">
       							{% for item in categoryList1 %}
       								{% include "Ceres::Category.Item.Partials.CategoryListItem" with {
       									'item' : item,
       									enableCarousel: false,
       									'tags' : item.data.tags,
       									'showOrderProperties' : false,
       									disableLazyLoad: true
       								} %}
       							{% endfor %}
       						</div>
       					{% else %}
       						<ul class="product-list row grid list-carousel-first">
       							{% for item in categoryList1 %}
       								<li class="col-xs-12 col-sm-6 col-md-3">
       									{% include "Ceres::Category.Item.Partials.CategoryListItem" with {
       										'item' : item,
       										enableCarousel: false,
       										'tags' : item.data.tags,
       										'showOrderProperties' : false
       									} %}
       								</li>
       							{% endfor %}
       						</ul>
       					{% endif %}
       				</div>
       			</div>



			</div>
		{% endblock %}
	{% endif %}
{% endblock %}
